html {
  background-color: #E5E5E5;
  font-family: Courier;
  margin: 0%;
}

html a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

html a:visited {
  color: #646464;
  text-decoration: none;
}

html a:hover {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid black;
}

html a:active {
  color: #383838;
  text-decoration: none;
}

#top {
  width: 100%;
  height: 50px;
}

#menu {
  float: right;
  right: 10px;
  margin: 0;
}

#menu > li {
  display: inline-block;
  margin: 10px;
}
