html {
  background-color: #E5E5E5;
  font-family: Courier;
  margin: 0%;
}

html a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

html a:visited {
  color: #646464;
  text-decoration: none;
}

html a:hover {
	cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid black;
}

html a:active {
  color: #383838;
  text-decoration: none;
}

#top {
  width: 100%;
  height: 50px;
}

#menu {
  float: right;
  right: 10px;
  margin: 0;
}

#menu > li {
  display: inline-block;
  margin: 10px;
}

#title {
  position: absolute;
  float: left;
  top: 50%;
  width: 30%;
  height: 50%;
  margin-top: -12.5%;
  margin-left: 15px;
}

#title > h2 {
  top: 50%;
  height: 10%;
  margin-top: -5%;
  position: relative;
  font-size: 1.5em;
}

#title > h4 {
  position: relative;
  top: 50%;
  font-size: 1em;
  margin: 1em 0;
}

#content {
  position: absolute;
  float: right;
  top: 50%;
  right: 0px;
  width: 75%;
  height: 80%;
  margin-right: 15px;
  margin-top: -17.7%;
}

#home {
	display: none;
}

#about {
	display: none;
}

#projects {
	display: none;
}

#skater img {
  height: 200px;
}

#skater_img:hover {
  font-weight: bold;
  text-decoration: none;
  border-bottom: none;
}

#blog {
	display: none;
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 60px;
  border-top: 1px solid #C5C5C5;
}

#links {
  position: relative;
  top: 25%;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  text-align: justify;
}

#links > a {
  height: 55px;
  width: 50px;
  text-align: justify;
}

#links:after {
  content: '';
  width: 100%;
  display: inline-block;
}
