html {
	background-color: #787878;
	font-family: Courier;
	margin: 0%;
}

html a:link {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

html a:visited {
	color: #E4E4E4;
	text-decoration: underline;
}

html a:hover {
	color: #535353;
	font-weight: bold;
	text-decoration: none;
}

html a:active {
	color: #383838;
	text-decoration: underline;
}
